<!DOCTYPE html>

<html>
	<head>
        <meta charset="utf-8" />
		<title>Psychology Experiment</title>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="/static/css/style.css" type="text/css" />
	</head>
	<body>
		<div id="container-not-an-ad" class="media">
			<div class="media-left pull-left" href="#">
						<!-- REPLACE THE LOGO HERE WITH YOUR  UNIVERSITY, LAB, or COMPANY -->
						<img id="adlogo" src="/static/images/university.png" alt="Lab Logo" />
			</div>
			<div class="media-body">
						<h1>Game complete! Thank you for completing this first part of the task.</h1>
						<hr />
					    <div class="alert alert-warning">
					    	Click <a href="https://duke.qualtrics.com/jfe/form/SV_8zX8jDKUPuGgAy9">HERE</a> to complete the second section of the task! If the link doesn't work, copy and paste the link here: https://duke.qualtrics.com/jfe/form/SV_8zX8jDKUPuGgAy9
					    </div>
			</div>
		</div>
	</body>
</html>
