<div id="container-questionnaire">
    <h1>Task Complete</h1>

    <hr />

    <p>
        You are finished with the task! Thank you for your contributions to science.
        Please answer the following questions about the task before moving on to the surveys.
    </p>

    <div class="instructions well">

        <form id="postquiz" action="debrief" method="post">

            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    Generally, how engaging did you find this task?
                </div>
                <div class="col-md-4">
                    <select id="valence" name="valence">
                        <option value="10">10 - Extremely engaging</option>
                        <option value="9">9 - Very engaging</option>
                        <option value="8">8 - Engaging</option>
                        <option value="7">7 - Somewhat engaging</option>
                        <option value="6">6 - A little bit engaging</option>
                        <option value="5" SELECTED>5 - Neutral</option>
                        <option value="4">4 - a little bit unengaging</option>
                        <option value="3">3 - Somewhat unengaging</option>
                        <option value="2">2 - Unengaging</option>
                        <option value="1">1 - Very unengaging</option>
                        <option value="0">0 - Extremely unengaging</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->

            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    Generally, how did it feel to wait for the drawing to unfold overtime?
                </div>
                <div class="col-md-4">
                    <select id="anticipation" name="anticipation">
                        <option value="10">10 - Extremely positive</option>
                        <option value="9">9 - Very positive</option>
                        <option value="8">8 - Positive</option>
                        <option value="7">7 - Somewhat positive</option>
                        <option value="6">6 - A little bit positive</option>
                        <option value="5" SELECTED>5 - Neutral</option>
                        <option value="4">4 - a little bit negative</option>
                        <option value="3">3 - Somewhat negative</option>
                        <option value="2">2 - Negative</option>
                        <option value="1">1 - Very negative</option>
                        <option value="0">0 - Extremely negative</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->

            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    Generally, if you ended a video before it was done, what was the main reason?
                </div>
                <div class="col-md-4">
                    <select id="stopping" name="stopping">
                        <option value="10" SELECTED></option>
                        <option value="0">I knew what the drawing was</option>
                        <option value="1">I was uninterested in what the drawing was going to be</option>
                        <option value="2">I did not want to wait</option>
                        <option value="3">Something else caught my attention outside the video</option>
                        <option value="4">Another reason not specified above</option>
                        <option value="5">I did not stop the videos early</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->

            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    Did you experience any internet issues or feel like there was something wrong with the way the task was loading and being presented?
                </div>
                <div class="col-md-4">
                    <select id="issues" name="issues">
                        <option value="10" SELECTED></option>
                        <option value="0">No technical or internet issues</option>
                        <option value="1">Yes, issues with internet</option>
                        <option value="2">Yes, issues with task loading or display</option>
                        <option value="3">Yes, issues with both internet and task</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->

        </form>
    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
