
{% raw %}

<div id = "app" class = "container">
    <h1>Motivation Lab: Video Experiment</h1>
    <div id = "welcome">
        <p>
            Welcome to the Video Experiment by the Adcock Lab at Duke University. If you would like to begin the experiment, please press the <strong>start button</strong> below.
        </p>
        <p>
            The next screen will have <strong> important instructions </strong> for how to advance through the task.
        </p>
        <button id = "startButton" class = "button" @click = "startExp">Start</button>
    </div>
    <div id = "startExp" >
        <p>
            <strong> IMPORTANT INSTRUCTIONS ARE BELOW ABOUT HOW TO NAVIGATE THROUGH THE TASK. THESE WILL NOT BE REPEATED AND YOU WILL NOT BE ABLE TO RETURN TO THE INSTRUCTIONS ONCE YOU THE START TASK.</strong>
        </p>
        <p>
            In this experiment you will be asked to watch several videos. Each video will begin with an empty canvas and a drawing will slowly reveal itself through one continuous line stroke. We are interested in what you think about the drawings as they are slowly being revealed.
        </p>
        <p>
            In each video you watch, there will be randomly placed pauses, <strong>between 1 - 3 per video,</strong> where we will ask you to answer a couple questions about the video (e.g. How much do you want to see the rest of the drawing?).
        </p>
        <p>
            We will also ask you to make a guess about what you think the drawing will be. If you do not have a guess to make, simply write "idk". <strong>To make the video resume playing you must move both sliders and PRESS ENTER after typing your guess.</strong>
        </p>
        <p>
            When watching these videos please try your best to <strong>focus your attention on the drawing</strong> to give us the best understanding of how and when you can identify what it being drawn.
        </p>
        <p>
            Try to use the most common English words for your guesses. For example, if you see an image of a hamster write "hamster" instead of "animal" or "Winter White Dwarf hamster".
        </p>
        <p>
            <strong>Videos will start playing automatically when you hit the button to advance (including the "Continue" button below).</strong>
        </p>
        <p>
            <strong>To advance to the next video</strong>, you must first <u>type in your final guess and PRESS ENTER</u> (only press enter once per "final guess") and <u>move ALL slider scales</u>. After these things are done the <strong>"Next Video" button will appear at the bottom.</strong>
        </p>
        <p>
            Depending on you browser and internet connection, sometimes a video will freeze for a handful of seconds. If this happens, please <strong>do not try to hit the Refresh button or move backwards in the task.</strong>
        </p>
        <p>
            Press continue to start the task.
        </p>

        <button class = "button" @click = "continueToStart">Continue</button>

    </div>
    <div id = "video1" class = "videos">

        <div v-for = "x in videoList" v-if = "x == videoList[videoIndex]">
            <video id = "video" width = "620" height = "auto" autoplay muted  @ended = "finishedVideo" @loadedmetadata = "makeVidDurr" @timeupdate = "pauseOnStops">
                <source v-bind:src = "x.src" v-bind:type = "x.type">
            </video>
            <div id = "interruptionMeasure">
                <br>
                <p>
                    How much do you <strong>want to know</strong> what it is going to be? 1 = Not at all, 100 = Very Much  <input class = "slider" id = "slider_cur" type = "range" min = '1' max = "100" v-bind:value = "curiosityValue" @input = "sliderFxn_curiosity"> {{curiosityValue}}
                </p>
                <p>
                    How <strong>confident</strong> are you about what it is going to be? 1 = NOT confident, 100 = VERY confident  <input class = "slider" id = "slider_confidence" type = "range" min = '1' max = "100" v-bind:value = "confidenceValue" @input = "sliderFxn_confidence"> {{confidenceValue}}
                </p>
                <p >
                    Guess? <input id = "videoGuess"  ref = "videoGuess" type = "text" placeholder="Enter Guess" v-model = "videoGuess" @keyup = "testInput" autofocus>
                </p>
            </div>
            <div id = "curiosityMeasure">
                <br>
                <p>
                    What is the object in the drawing? <input id = "finalGuess" type = "text" placeholder = "Enter text" v-model = "finalGuessPlaceholder" @keyup = "finalGuessMethod" autofocus>
                    Answer: {{ finalGuess }}
                </p>
               <p>
                     <strong>Overall,</strong> how <strong>surprised</strong> were you by the final outcome? 1 = NOT surprised, 100 = VERY surprised <input id = "slider_surprise" class = "slider" type = "range" min = '1' max = "100" v-bind:value = "surpriseValue" @input = "sliderFxn_surprise"> {{surpriseValue}}
                </p>
                 <p>
                    How much did you <strong>enjoy</strong> watching this video? 1 = NO enjoyment, 100 = A LOT of enjoyment <input id = "slider_enjoy" class = "slider" type = "range" min = '1' max = "100" v-bind:value = "enjoyValue" @input = "sliderFxn_enjoy"> {{enjoyValue}}
                </p>
                <p>
                    How <strong>complex</strong> did you find this video? 1 = NOT complex, 100 = VERY complex <input id = "slider_complex" class = "slider" type = "range" min = '1' max = "100" v-bind:value = "complexValue" @input = "sliderFxn_complex"> {{complexValue}}
                </p>

                <p v-if = "finalGuess.length > 2 && answeredSurpriseValue == 1 && answeredEnjoyValue == 1 && answeredComplexValue == 1">
                    <button @click = "nextVideo" class = "button">Next Video</button>
                </p>
            </div>
        </div>

    </div>

</div>

{% endraw %}