<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">
        <p>
            <strong>Welcome to the Video Guessing Game!</strong>
	    </p>

	    <p>
		    In this the task, you will be asked to watch animated videos of single-continuous line drawings.
            Each drawing will start with a blank screen and over time the drawing will slowly reveal itself.
	    </p>

	    <p>
            <strong>We are interested in knowing how you experience these videos. We will ask you a series of questions both throughout and after each video.</strong>
        </p>
        <p>
            You will watch <strong>30 videos</strong> in this task. We estimate that it will take between <strong>30-35 minutes</strong> to complete.
            After you complete this part, you will be direct to a brief questionnaire (5 questions).
        </p>

        <p>
            If you are ready to begin, advance to the next screen. You will receive more specific instructions on how to do the task there.
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin experiment <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>