<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">
        <p>
            <strong>Welcome to the Video Guessing Game!</strong>
	    </p>
	    <p>
		    In this the task, you will be asked to watch animated videos of single-continuous line drawings.
            Each drawing will start with a blank screen and over time the drawing will slowly reveal itself. Each video is between
            <strong>15 to 30 seconds</strong> long.
	    </p>
	    <p>
            <strong>We are interested in knowing how you experience these videos.</strong> We will ask you a series of questions
                both throughout and after each video. We are interested in knowing your <strong>thought process</strong>
            throughout watching these videos.
        </p>
        <p>
            You will watch a minimum of <strong>25 videos</strong> in this task. If you find that you would like to watch
            more, you can opt to do so. We estimate that it will take about <strong>25 minutes</strong> to complete.
            After you complete this part, you will be directed to Qualtrics where you will complete 2 surveys that should take about
            5 minutes total.
        </p>
        <p>
            If you are ready to begin, advance to the next screen. You will receive more specific instructions on how
            to do the task there.
        </p>
        <p>
            As long as you <strong>try and pay attention you will be approved</strong>. If your answers are nonsensical
            you will be rejected.
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin experiment <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>