<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <p>
            Each video is between 15-30 seconds in length. Periodically, the video will pause and will prompt you to answer a couple questions before continuing the video.
            Specifically, we will ask you how much you want to finish watching the video and how confident you are in what the drawing is going to become.
        </p>

        <p>
            We will also ask you to make a guess about what the drawing will be. If you don't have any idea, it's fine to say so in the text box provided.
            Once you finish watching the video, you will answer some brief questions about the video and your experience.
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>